:root {
    --text-primary: #333333;
    --color-primary: #d0121d;
}

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 2rem 2rem 2rem;
}

@media screen and (min-width: 769px) {
    body {
        padding: 0 4rem 4rem 4rem;
    }
}

/* Nav */

.c-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem 0 0 0;
}

.c-nav_logo {
    margin: 10px;
    height: 40px;
    width: auto;
    object-fit: contain;
    position: relative;
    left: -1rem;
}

.c-nav_button {
    cursor: pointer;
    height: 50px;
    padding: 0 1rem;
    text-decoration: none;
    border: 0;
    display: inline-flex;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    background: white;
    font-weight: 5600;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    font-size: 1.1rem;
}

@media screen and (min-width: 769px) {
    .c-nav {
        padding: 3rem 0 0 0;
    }

    .c-nav_logo {
        height: 40px;
    }

    .cnav_button {
        font-size: 1.25rem;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 1367px) {
    .c-nav_logo {
        height: 60px;
    }

    .cnav_button {
        font-size: 1.25rem;
        padding: 0 1rem;
    }
}

/* Hero */
.c-hero {
    max-width: 1920px;
    margin: 0 auto;
    align-items: center;
    font-size: 1rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    padding: 2em 0 0 0;
    row-gap: 1rem;
    grid-template-areas:
        'title'
        'sub'
        'bg'
        'xp'
        'img'
    ;
}

.c-hero_title {
    grid-area: title;
    color: var(--text-primary);
    font-size: 3em;
    font-weight: 300;
    line-height: 100%;
}

.c-hero_subtitle {
    grid-area: sub;
    color: var(--text-primary);
    font-size: 2em;
    font-weight: 300;
    line-height: 100%;
}

.c-hero_background {
    grid-area: bg;
    color: var(--text-primary);
    font-size: 1.3em;
    line-height: 100%;
    line-height: 2;
}

.c-hero_experience {
    grid-area: xp;
    color: var(--text-primary);
    font-size: 1.3em;
    line-height: 100%;
    line-height: 2;
}

.c-hero_image {
    grid-area: img;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 40% bottom;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(80,0,0,0.18);
}

@media screen and (min-width: 769px) {
    .c-hero {
        font-size: 1.1rem;        
        padding: 3em 0 0 0;
        display: grid;
        column-gap: 4em;
        row-gap: 2rem;
        grid-template-rows: 1fr 1fr auto;
        grid-template-columns: 10fr 10fr;
        grid-template-areas:
            'title img'
            'sub img'
            'bg img'
            'xp img'
        ;
    }

    .c-hero_title {
        font-size: 4em;
    }

    .c-hero_subtitle {
        font-size: 2em;
    }
}

@media screen and (min-width: 1367px) {
    .c-hero {
        font-size: 1.3rem;
    }
}

.c-hero_company {
    display: inline-flex;
    width: auto;
    height: 2.3rem;
    position: relative;
    flex-direction: column;
    font-size: inherit;
    line-height: 100%;    
    padding: 0.2rem 0.5rem;  
    background: var(--color-primary);
    color: white;
}

/* Case */

.c-case {
    max-width: 1920px;
    margin: 0 auto;
    padding: 10em 0 0 0;
    display: grid;
    grid-template-columns: auto;
    row-gap: 4rem;
    align-items: center;
    font-size: 1rem;
}

.c-case_title {
    font-size: 1.2em;
    color: var(--text-primary);
    line-height: 2;
}

.c-case_description {
    font-size: 1.3em;
    color: var(--text-primary);
    line-height: 2;
}

.c-case_content {
    display: grid;
    row-gap: 2rem;
}

.c-case_group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 1.5rem;
}

.c-case_overview {
    width: 100%;
}

.c-case_image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: left top;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(80,0,0,0.18);
    order: -1
}

.c-case_logo {
    width: auto;
    object-fit: contain;
    height: 70px;
}

.c-case_logo--ctbz {
    height: 30px;
    margin: 0;
}

@media screen and (min-width: 769px) {
    .c-case {
        padding: 10em 0 0 0;
        grid-template-columns: 65fr 35fr;
        column-gap: 4em;
        align-items: center;
        font-size: 1.1rem;
    }

    .c-case_image {
        height: 100%;
        order: 0;
    }

    .c-case_group {
        flex-direction: row;
        justify-content: space-around;
        row-gap: unset;
    }

    .c-case_logo--ctbz {
        height: 50px;
    }
}

@media screen and (min-width: 1367px) {
    .c-case {
        font-size: 1.3rem;
    }
}

/* List */
.c-list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: decimal;
    font-size: 1rem;
}

.c-list_item {
    font-size: 1.3em;
    color: var(--text-primary);
    line-height: 2;
}

@media screen and (min-width: 769px) {
    .c-list {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1367px) {
    .c-list {
        font-size: 1.3rem;
    }
}

/* Showcase */

.c-showcase {
    padding: 10em 0 0 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    row-gap: 4em;
}

.c-showcase_image {
    width: 100%;
    object-fit: cover;
    object-position: left top;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(80,0,0,0.18);
}
